node_modules
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
.idea
.vscode
demos/urpt-ui
demos/pages/en-US
demos/pages/urpt
demos/pages/es
demos/pages/fr-FR
fe.urpt/urpt-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc
